<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume</title>
    <link href="https://bootswatch.com/4/lumen/bootstrap.css" rel="stylesheet" />
   <style>
     body {
       font-size: 16px;
     }
     h1 {
       font-size: 2rem;
     }
     h2 {
       font-size: 1.5rem;
     }
    .container {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 80%;
    }
    .avatar {
      text-align: right;

      @media screen and (max-width: 540px) {
        text-align: center;
      }

      img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        border-radius: 50%;
      }
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1>{{basics.name}}<h1>
          <h2>{{basics.location.city}}, {{basics.location.country}}</h2>
        </div>
        <div class="col-md-6 col-sm-12 avatar">
          <img class="media-object img-circle pull-right" data-src="holder.js/64x64" alt="64x64" src="{{basics.picture}}">
        </div>
      </div>
      <hr />
      <section class="row">
        <header class="col-md-3">
          <h3>About</h3>
        </header>
        <div class="col-md-9">
          <p>{{basics.summary}}</p>
          <div class="row">
            <div class="col-md-5">
              {{#basics.birthdate}}
              <strong>Birthdate:</strong> {{basics.birthdate}} <br />
              {{/basics.birthdate}}
              {{#basics.phone}}
              <strong>Phone:</strong> {{basics.phone}} <br />
              {{/basics.phone}}
              {{#basics.email}}
              <strong>Email:</strong> <a href="mailto:{{basics.email}}">{{basics.email}}</a><br />
              {{/basics.email}}
            </div>
            <div class="col-md-5">
              {{#profiles.linkedin}}
              <strong>LinkedIn:</strong> <a href="http://linkedin.com/in/{{.}}">{{.}}</a><br />
              {{/profiles.linkedin}}
              {{#profiles.github}}
              <strong>Github:</strong> <a href="http://github.com/{{.}}">{{.}}</a><br />
              {{/profiles.github}}
              {{#basics.website}}
              <strong>Website:</strong> <a href="http://{{basics.website}}">{{basics.website}}</a>
              {{/basics.website}}
            </div>
          </div>
        </div>
      </section>
      <hr />

      {{#work.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Work Experience</h3>
        </header>
        <div class="col-md-9">
          <div class="skills">
            {{#work}}
            <h3>{{company}}</h3>
            <strong>{{position}}</strong>
            <p>{{startDate}} - {{endDate}}</p>
            <p>{{summary}}</p>
            <ul>
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            <hr />{{/work}}
          </div>
        </div>
      </section>
      {{/work.length}}

      {{#volunteer.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Volunteering</h3>
        </header>
        <div class="col-md-9">
          <div class="skills">
            {{#volunteer}}
            <h3>{{organization}}</h3>
            <strong>{{position}}</strong>
            <p>{{startDate}} - {{endDate}}</p>
            <p>{{summary}}</p>
            <ul>
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            <hr />
            {{/volunteer}}
          </div>
        </div>
      </section>
      {{/volunteer.length}}

      {{#education.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Education</h3>
        </header>
        <div class="col-md-9">
          <div class="skills">
            {{#education}}
            <h3>{{institution}}</h3>
            <strong>{{educationDetail}}</strong>
            <p>{{startDate}} - {{endDate}}</p>
            <p>{{summary}}</p>
            <ul>
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            <hr />
            {{/education}}
          </div>
        </div>
      </section>
      {{/education.length}}

      {{#skills.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Skills</h3>
        </header>
        <div class="col-md-9">
          <div class="row-fluid skills">
            {{#skills}}
            <ul class="col-md-6">

              <li>
                <h4>{{name}}</h4>
                <ul>
                  {{#keywords}}
                  <li>{{.}}</li>
                  {{/keywords}}
                </ul>
              </li>
            </ul>
            {{/skills}}
          </div>
        </div>
      </section>
      {{/skills.length}}

      {{#languages.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Languages</h3>
        </header>
        <div class="col-md-9">
          <div class="row-fluid skills">
            {{#languages}}

            <p>
              <strong>{{language}}</strong> – {{fluency}}
            </p>
            {{/languages}}
          </div>
        </div>
      </section>
      {{/languages.length}}

      {{#references.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>References</h3>
        </header>
        <div class="col-md-9">
          <div class="row-fluid skills">
            {{#references}}

            <p>{{reference}} -
              <strong>{{name}}</strong>
            </p>
            {{/references}}
          </div>
        </div>
      </section>
      {{/references.length}}

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
